.container {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  box-shadow: 0px 8px 8px -3px rgba(0, 0, 0, 0.75);
  background-color: white;
  padding: 1.3em 2.3em;
  align-items: center;
  width: auto;
  margin-top: 100px;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
}

.profilePicture {
  background-color: var(--light-green);
  padding: 0.3em 0.3em 0.3em;
  border-radius: 12%;
  height: 340px;
  width: 230px;
  display: flex;
  align-items: center;
  box-shadow: 2px 1px 6px -2px rgba(0, 0, 0, 0.75);
  justify-content: center;
}

.profilePicture > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.starContainer {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.starContainer > img {
  width: 40px;
  height: 40px;
}

.headerContainer {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  align-self: center;
}

.headerContainer > h6:first-child {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 8px;
}

.headerContainer > h6:last-child {
  font-size: 20px;
  font-weight: 100;
}

.infoContainer {
  border: 2px solid #000;
  box-shadow: 0px 8px 8px -3px rgba(0, 0, 0, 0.5);
  padding: 16px;
  margin-top: 20px;
}

.item {
  display: flex;
  flex: 1;
  justify-content: space-between;
  border-bottom: 4px solid rgba(128, 128, 128, 0.5);
  padding-bottom: 12px;
  align-items: baseline;
}

.item:not(:last-child) {
  margin-bottom: 30px;
}

.item > div:first-child {
  font-size: 32px;
  font-weight: 300;
}

.item > div:last-child {
  font-size: 20px;
  font-weight: 100;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.button > button {
  font-size: 24px;
  font-weight: 500;
  border: none;
}

.actionContainer {
  margin-top: 20px;
}
