.container {
  display: flex;
  margin: 0 auto;
  width: 80%;
  background-color: white;
  padding: 4rem 3rem;
  border-radius: 30px;
  margin-bottom: 2rem;
}

.btn {
  background-color: #147f68;
  width: 100px;
}

.detail_item_top {
  display: flex;
  justify-content: space-between;
}

.photo {
  flex-grow: 1;
  border-radius: 30px;
  background-color: #147f68;
  padding: 2rem;
  height: 400px;
  text-align: center;
  margin-right: 2rem;
}

.photo > img {
  width: 70%;
  height: 100%;
}

.profile_detail {
  flex-grow: 2;
  padding: 2rem;
}

.detail_item {
  border-bottom: 4px solid #147f68;
  padding: 0.55rem 0;
}

.detail_item p,
.detail_item_top p {
  color: #116e5a;
  font-size: 24px;
}

.detail_item_number {
  border-bottom: 4px solid #147f68;
  padding-top: 0;
  padding-bottom: 0.55rem;
}

.detail_item_number p {
  color: #147f68;
}

.number {
  font-size: 20px !important;
}
