.container {
  display: flex;
  margin-right: 2rem;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.75);
  width: 65%;
  margin: 2rem;
  margin-top: 0;
}

.categories > h3 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-weight: 100;
  font-size: 38px;
  margin-top: 2rem;
}

.kategoriDoctor{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.categoriesButton{
    font-size: medium;
    margin: 0 10px;
    padding: 10px 10px;
}

.listOfDoctor{
    align-items: center;
    justify-content: center;
    margin: 30px 30px;
    display: grid;
    grid-column-end: 2;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
}

.card {
    width: 100%;
    margin-right: 0 !important;
}

@media screen and (max-width: 320px) {
    .kategoriDoctor{
        
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .categoriesButton{
        width: 80%;
        font-size: small;
        margin: 0 10px;
        padding: 5px 3px;
    }

    .listOfDoctor{
        align-items: center;
        justify-content: center;
        margin: 30px 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (min-width: 576px) {
    .kategoriDoctor{
        grid-template-columns: 30% 30% 30%;
        grid-gap: 10px;
    }
    .categoriesButton{
        font-size: small;
        margin: 0 10px;
        padding: 5px 3px;
        height: 50px;
    }

    .listOfDoctor{
        align-items: center;
        justify-content: center;
        margin: 30px 30px;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
    }
}

@media screen and (min-width: 992px) {
    .kategoriDoctor{
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-gap: 5px;
    }
    .categoriesButton{
        font-size: medium;
        padding: 10px 10px;
        height: 70px;
    }
    
    .listOfDoctor{
        grid-column-end: 2;
        grid-template-columns: 30% 30% 30%;
    }
}
