.root {
  background: url("/public/bg.jpg");
  padding-bottom: 25vh;
  background-size: contain;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hintContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.divider:not(:last-child) {
  display: block;
  width: 5%;
}
