.container {
  position: sticky;
  height: 60px;
  background: white;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.content {
  max-width: 1100px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
}

.separator {
  border-right: 4px solid var(--light-green);
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 80px;
  flex: 1;
}

.nav > ul {
  display: flex;
}

.nav > ul > li:not(:last-child) {
  margin-right: 20px;
}

.nav > ul > li > a:hover {
  color: var(--light-green);
}

.nav a {
  color: black;
  font-weight: 100;
  letter-spacing: 2px;
}

.buttonContainer {
  margin-top: auto;
  margin-bottom: auto;
}

.button {
  width: 35%;
  font-size: 20px;
  font-weight: 600;
  margin-right: 0;
}
