@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    /*================ COLORS ================*/
    --lite-grey: #e7e6e9;
    --dark-grey: #333;
    --light-blue: #6bedd0;
    --light-green: #09dbac;
    --dark-green: #024032;
    --pale-green: #a4cdc4;

    /* -----------------------------------------------*/
    --header-bg-color: White;
    --header-txt-color: --dark-grey;

    --main-bg-color: var(--lite-grey);
    --main-font-color: var(--dark-grey);

    --button-lgreen-color: var(--light-green);
    --button-font-color: white;
    --button2-white-color: white;
    --button2-font-color: var(--dark-green);

    --box-bg-color: white;
    --box-font-color: var(--dark-grey);
    --box-second-color: var(--dark-grey);

    --footer-bg-color: var(--dark-green);
    --footer-txt-color: white;

    /*================ FONT ================*/
    --main-font-type: 'Poppins', sans-serif;

    /*================ SIZE ================*/
    --font-large-size: 70px;
    --font-big-size: 40px;
    --font-normal-size: 30px;
    --font-small-size: 20px;
    --font-smaller-size: 15px;
    --font-xtra-small-size: 12px;
    --h1-font-size: 40px;
    --h2-font-size: 40px;
    --h3-font-size: 30px;

    /*================ WEIGHT ================*/
    --font-weight-thin: 100;
    --font-weight-medium: 100;
    --font-weight-semibold: 600;
}

/*================ BASE ================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: var(--font-small-size);
    font-weight: var(--font-weight-medium);
    color: var(--main-font-color);
}

h1,
h2,
h3 {
    color: var(--main-font-color);
    font-weight: var(--font-weight-semibold);
}

body,
button,
input,
textarea,
a {
    font-family: var(--main-font-type);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-size: var(--font-small-size);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    height: auto;
}

/*================ SCROLL BAR ================*/
::-webkit-scrollbar {
    width: 0.6rem;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--pale-green);
    border-radius: 0.5rem;
}

::-webkit-slider-thumb:hover {
    background-color: var(--light-green);
}

/*================ REUSABLE CSS CLASSES ================*/
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/*================ HEADER n NAV ================*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: var(--header-bg-color);
    height: 52px;
    width: 100%;
    position: fixed;
    z-index: 3;
}
.header-link {
    margin: 0px 0px;
}
.header-link li {
    width: fit-content;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.header__icon-arrow {
    display: none;
    border: 0;
    height: 58px;
    width: 40px;
    padding: 0.5rem 0;
    cursor: pointer;
    color: var(--main-font-color);
    font-size: var(--font-normal-size);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.header-button {
    margin-bottom: 5px;
}

.header__icon-arrow:hover {
    color: var(--light-green);
}
#loginBtn:hover {
    background-color: #024032;
    transition: 0.5s;
}

.is__loggedin {
    float: right;
    padding: 4px 0;
    cursor: pointer;
}

/*================ FOOTER ================*/

/*================ BUTTON ================*/
button:hover {
    background-color: var(--dark-green);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: 1s;
}

/* ================ HOME ================ */
/* HOME */
.menu {
    padding: 18vh 0;
    background-image: url(./assets/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__wrapper,
.feeds__wrapper {
    margin: 0 60px;
}

.menu__option {
    display: flex;
    flex-direction: column;
}

.menu__intro h1 {
    font-size: var(--font-big-size);
}

.menu__intro p {
    font-size: var(--font-small-size);
}

.menu__container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 40px;
    margin-top: 30px;
}

.menu__cards {
    width: 110px;
    padding: 7px 0;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.05),
        0 0 4px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.05), 0 8px 16px rgba(0, 0, 0, 0.05),
        0 8px 16px rgba(0, 0, 0, 0.05);
    font-size: 13px;
    text-align: center;
}

.menu__cards p {
    font-size: var(--font-xtra-small-size);
}

.menu__cards:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.05),
        0 2px 2px rgba(0, 0, 0, 0.07), 0 8px 32px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07);
}

.menu__icon {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.feeds {
    background: linear-gradient(180deg, var(--lite-grey), var(--light-green));
    padding: 7vh 0 5vh 0;
}

.feeds__wrapper h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.feeds__content {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.feeds__content .feeds__image {
    position: relative;
    overflow: hidden;
    border-radius: 10px 0 0 0;
    margin: -12px 0 8px 0;
}

.feeds__content .feeds__image img {
    width: 100%;
    height: 150px;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
}

.feeds__content:hover .feeds__image img {
    transform: scale(1.1, 1.1);
}

.feeds__content .feeds__image .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(-35deg, var(--light-blue) 0%, rgba(255, 255, 255, 0.6) 100%);
    transition: all 0.5s linear;
}

.feeds__content:hover .over-layer {
    opacity: 1;
    text-decoration: none;
}

.feeds__content .over-layer {
    position: relative;
    top: 45%;
    display: block;
    color: #fff;
    font-size: 50px;
    padding-top: 60px;
    text-align: center;
}

.feeds__content .feeds__info {
    margin: -8px 0;
    padding: 0 10px;
    text-align: left;
}

.feeds__content .feeds__info a {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.feeds__content .feeds__info a:hover {
    text-decoration: none;
    color: #3498db;
}

.feeds__content .feeds__date {
    color: #a9a9a9;
    font-size: 14px;
}

.feeds__content .feeds__source {
    color: #a9a9a9;
    font-size: 14px;
}

/*================ BREAKPOINTS ================*/
/* Responsive Navbar */
@media screen and (max-width: 768px) {
    .header-logo {
        display: none;
    }

    .header__icon-arrow {
        display: block;
    }

    .header-link ul {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        margin: 0 auto;
        line-height: normal;
        flex-direction: column;
        background-color: #09dbaeaa;
        width: 100%;
    }

    .header-link li {
        text-align: center;
        margin: 0;
    }

    .header-link li {
        width: 100%;
        padding: 0.5rem 0;
    }

    .header-link li:hover {
        background-color: #09dbac;
        border: 1px solid var(--lite-grey);
    }

    .header-link.expanded ul {
        display: block;
    }
}

/* Small Devices & Medium Devices */
@media screen and (max-width: 320px) {
    .slick-slide > div {
        margin: 0 15px;
    }

    .containerDoctorCard {
        box-shadow: 0px 8px 8px -3px rgba(0, 0, 0, 0.75);
        background-color: white;
        padding: 2rem 1.4rem;
        padding-right: 2rem;
        align-items: center;
        cursor: pointer;
    }

    .slick-slide {
        width: 150px;
    }

    .header {
        padding: 0 15px;
    }

    .header-logo {
        padding: 12px 0 8px 0;
    }

    #headerLogo {
        width: 100px;
    }

    .footer {
        height: 85px;
        padding: 0 15px;
    }

    .footer-logo {
        padding: 15px 0 8px 0;
        float: left;
    }

    #footerLogo {
        width: 120px;
    }

    .footer-link {
        float: right;
        display: flex;
        flex-direction: column;
        padding-top: 15px;
    }

    .footer-link a {
        font-size: var(--font-xtra-small-size);
        line-height: 10px;
        padding: 5px 0;
        margin: 0;
    }

    .menu__wrapper,
    .feeds__wrapper {
        margin: 0 15px;
    }

    .menu__intro h1 {
        font-size: var(--font-normal-size);
    }

    .menu__intro p {
        font-size: var(--font-xtra-small-size);
    }

    .menu__container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1px;
    }

    .menu__cards {
        width: 80px;
    }

    .menu__cards p {
        font-size: 10px;
    }

    .menu__icon {
        width: 55px;
        height: 55px;
        border-radius: 10px;
    }

    .feeds__wrapper h3 {
        line-height: 25px;
    }

    .feeds__content {
        height: 180px;
    }

    .feeds__content .feeds__image img {
        width: 100%;
        height: 100px;
    }

    .feeds__content .feeds__info {
        margin: -10px 0;
        padding: 0 10px;
    }

    .feeds__content .over-layer {
        font-size: 40px;
        padding-top: 30px;
    }

    .feeds__content .feeds__info a {
        font-size: 12px;
        text-transform: uppercase;
    }

    .feeds__content .feeds__date,
    .feeds__content .feeds__source {
        font-size: 10px;
    }
}

@media screen and (min-width: 576px) {
    .slick-slide > div {
        margin: 0 15px;
    }

    .slick-list {
        margin: 0 -26px;
    }

    .slick-slide {
        width: 170px;
    }

    .feeds__content {
        height: 220px;
    }
}

@media screen and (min-width: 767px) {
    .slick-slide {
        width: 180px;
    }

    .feeds__content {
        height: 220px;
    }
}

/* Large Devices */
@media screen and (min-width: 992px) {
    .slick-slide > div {
        margin: 0 26px;
    }

    .slick-slide {
        width: 250px;
    }

    .feeds__content {
        height: 250px;
    }
}

@media screen and (min-width: 1337px) {
    .slick-slide > div {
        margin: 0 26px;
    }

    .slick-slide {
        width: 280px;
    }

    .feeds__content {
        height: 250px;
    }
}

.form__wrapper {
    width: 100%;
    height: 750px;
}

.form__wrapper h2 {
    margin-left: 150px;
    margin-bottom: 25px;
}

.form__card {
    height: 70%;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    padding: 75px;
}

.data__user label {
    float: left;
    width: 200px;
    padding-right: 24px;
}

.data__user input {
    float: left;
    width: calc(100% - 200px);
    margin-bottom: 20px;
}

.form__card button {
    margin-top: 30px;
}

.profile__image {
    margin-top: 40px;
    height: 250px;
    width: 250px;
    float: left;
    border-radius: 15px;
}

.data__user {
    margin-top: 50px;
    float: left;
    margin-left: 80px;
}
